/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html{
  height:100%;
}
body{
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JETFf6K/disco-dance-floor-wall-b02f-4k_v2uoablpe__F0000.png"); */
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton {
  font-family: 'Source Sans Pro', sans-serif;
  padding:5px 12px;
  float:right;
  text-decoration: none
}

h1 {
  font-size: 20px;
  line-height: 10px;
  padding: 8px 20px 8px 20px;
}

.addDancerButton, .lineUpButton {
  font-size: 16px;
  line-height: 21px;
  padding: 8px 20px 8px 20px;
}

.addDancerButton:hover, .lineUpButton:hover, .title:hover {
  background-color: #fc24fd
}

.topbar{
  display: flex;
  height:40px;
  background-color: #1d2556;
}
.title{
  background-color: #1d2556;
}
.dancer{
  border:10px solid skyblue;
  border-radius:10px;
  position:absolute;
}

.square{
  height: 100px;
  width: 100px;
  position:absolute;
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}


.sick{
  height: 100px;
  width: 100px;
  position:absolute;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

.sick-rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

.blink {
  height: 100px;
  width: 100px;
  position:absolute;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#dance-floor {
  height: 100%;
  width: auto;
  background-image: url("src/disco1.gif");
  background-repeat:no-repeat;
  background-size:cover;
}